body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #000080;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #000060;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.page{
    position:absolute; /*Need pages to sit on top of each other for route transition*/
    top:100px;
    left:0;
    right:0;
}

.fade-appear
.fade-enter{
    opacity: 0;
    z-index: 1;
}
.fade-appear-active
.fade-enter.fade-enter-active{
    opacity:1;
    transition: opacity 300ms linear 150ms
}

.fade-exit{
    opacity:1;
}

.fade-exit.fade-exit-active{
    opacity:0;
    transition: opacity 150ms linear
}